<h1>Add new category</h1>

<form action={{ path 'category' }} method="POST" id="new-category-form">
    <input type="text" name="userId" placeholder="Enter new userId">
    <input type="text" name="title" placeholder="Enter new title">
    <input type="text" name="description" placeholder="Enter new description">
    <button>Add</button>
</form>