{{>Partials/Header}}

<h1> {{ message }}</h1>

<form action={{ path 'user' }} method="POST" id="new-user-form">
    <input type="text" name="username" placeholder="Enter new username">
    <input type="text" name="email" placeholder="Enter new email">
    <input type="text" name="password" placeholder="Enter new password">
    <button>Save</button>
</form>

{{>Partials/Footer}}